<div class="recipes">
    {{#each recipes as |recipe|}}
    <article class="card">
        <div class="card-header">
            <h3>
                <a href="#">{{recipe.title}}</a>
            </h3>
            <h4 class="instructions">
                <a href="#">{{recipe.instructions}}</a>
            </h4>
            {{#each recipe.ingredients as |ingredient|}}
            <h5>
                <a href="#"> {{ingredient}}</a>
            </h5>
        {{/each}}
          
            <p>Shared by 'Username Here'</p>
        </div>
        <div class="card-body">
            Dish Description Here
        </div>
    </article>

    {{/each}}

</div>