<div class="recipes">
    {{#each recipes as |recipe|}}
    <article class="card">
        <div class="card-header">
            <h3>
                <a href="#">{{recipe.title}}</a>
            </h3>
            <h1 class="instructions">
                <a href="#">{{recipe.instructions}}</a>
            </h1>
            <h1>
                <a href="#"> 1. {{recipe.strIngredient1}}</a>
            </h1>
            <p>Shared by 'Username Here'</p>
        </div>
        <div class="card-body">
            Dish Description Here
        </div>
    </article>
    {{/each}}
    <section>
        Daily Recipe
        {{renderDailyRecipeEl}}
    </section>
</div>