<div class="recipes">
    {{#each recipes}}
    <article class="card">
        <div class="card-header">
            <h3>
                <a href="#">Recipe Name Here</a>
            </h3>
            <p>Shared by 'Username Here'</p>
        </div>
        <div class="card-body">
            Dish Description Here
        </div>
    </article>
    {{/each}}
    <section>
        Daily Recipe
        {{renderDailyRecipeEl}}
    </section>
</div>