


  <section class="container">
    Daily Recipe test test test
    <p>
      Recipes go here.
      {{!-- {{Recipe}} --}}
    </p>
  </section>

  {{!-- Potentially building the recipe cards here^^^  activity 20--}}