<div class="loginContainer mt-4 row container-fluid d-flex  justify-content-center" style="left:0px; right 0px;">
    <div class="">
    {{>signup}}
    {{>login}}
    </div>
</div>

<script src="/js/signup.js"></script>