<form class="recipe-form col-9 p-2">
        <div class="form-group">
          <label for="exampleInputTitle">Recipe Title</label>
          <input
            type="title"
            class="form-control"
            id="exampleInputTitle"
            placeholder="Enter Recipe Title"
          />
        </div>
        <div class="form-group">
          <label for="exampleInputIngredients">Ingredients (Seperate ingredients with a ';')</label>
          <input
            type="ingredients"
            class="form-control"
            id="exampleInputIngredients"
            placeholder="1/2 cup Butter"
          />
          <div class="form-group">
              <label for="exampleInputInstructions">Instructions</label>
              <input
                type="instructions"
                class="form-control"
                id="exampleInputInstructions"
                placeholder="Mix the dry ingredients"
              />
        </div>
        <div class="form-group">
          <label for="exampleInputCook">Cook Time</label>
          <input
            type="cook"
            class="form-control"
            id="exampleInputCook"
            placeholder="Place in oven on 400 degrees for 16 minutes"
          />
          <div class="form-group">DROP IMAGE HERE</div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

      <script src="/js/new-recipe.js"></script>