html,
body {
<<<<<<< HEAD
=======

>>>>>>> 6f2d6ca25b45463fa930d583aa3bf4295a6f7685
  margin: 0;
  padding: 0;
  height: 100 - 76px;
  display: flex;
  flex-direction: column;
  overscroll-behavior: none;
<<<<<<< HEAD
}
html {
  box-sizing: border-box;
=======

>>>>>>> 6f2d6ca25b45463fa930d583aa3bf4295a6f7685
}

html {
    box-sizing: border-box;
}

.d-flex {
    position: absolute;

    top: 20px;
}

.navbar {
    height: 50px;
    border-style: solid;
    border-color: rgb(65, 65, 65);
    border-width: 1px;
    background-color: #a5a5a5;
    color: #f2b443;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    /*start ------------*/
    width: [object Object]px;
    height: [object Object]px;
    box-shadow: 16px 16px 23px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 16px 16px 23px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 16px 16px 23px rgba(0, 0, 0, 0.8);
}

.navButton {
    margin-top: 5px;
}

main {
    width: 100vw;
    background-image: url("../images/cookbook-background.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    overscroll-behavior-block: auto;
}

.dailyRecipe {
<<<<<<< HEAD
=======

>>>>>>> 6f2d6ca25b45463fa930d583aa3bf4295a6f7685
  position: relative;
  margin-top: 10%;
  margin-bottom: 28%;
  /* width: [object Object]px; 
	height: [object Object]px;  */
	background: #FFFFFF; 
	border: solid #BDBDBD 1px; 
	box-shadow: 16px 16px 23px rgba(0, 0, 0, 0.8)  ; 
	-webkit-box-shadow: 16px 16px 23px rgba(0, 0, 0, 0.8)  ; 
	-moz-box-shadow: 16px 16px 23px rgba(0, 0, 0, 0.8)  ; 
<<<<<<< HEAD
=======


>>>>>>> 6f2d6ca25b45463fa930d583aa3bf4295a6f7685
}

.recipes {
    margin-top: 76px;
    margin-bottom: 15%;
    margin-left: auto;
    margin-right: auto;
}

.recipe-form {
    margin-top: 10%;
    margin-bottom: 15%;
    margin-left: auto;
    margin-right: auto;
}

.loginContainer {
    position: relative;
    margin-bottom: 38%;
    margin-left: auto;
    margin-right: auto;
}

.loginCard {
    position: relative;
    margin: 25px;
    width: [object Object]px;
    height: [object Object]px;
    background: #FFFFFF;
    border: solid #BDBDBD 1px;
    box-shadow: 16px 16px 23px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 16px 16px 23px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 16px 16px 23px rgba(0, 0, 0, 0.8);
}

.recipeCard {
    /*start ------------*/
    width: [object Object]px;
    height: [object Object]px;
    background: #FFFFFF;
    border: solid #BDBDBD 1px;
    box-shadow: 16px 16px 23px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 16px 16px 23px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 16px 16px 23px rgba(0, 0, 0, 0.8);
}

.featuredRecipe,
.dbRecipes {
    position: relative;
    top: 40px;
    left: 10%;
    width: 80%;
    background-color: aliceblue;
    display: flex;
    margin-bottom: 15px;
}

.dbRecipe {
    width: 33%;
    flex-wrap: wrap;
}

.recipe-form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border: 15px solid green;
    background-color: orange;
}

.navItems {
    position: absolute;
    right: 30px;
}

#navbarLogo {
    max-height: 110px;
    padding-top: 25px;
}

.recipeImage {
    height: 35vh;
    width: auto;
}

.recipeImage:hover {
    height: 60vh;
    width: auto;
}